@{
  Layout = "_Layout";
}

@using Treats.Models;
@model Treats.Models.Treat;

<h4>Add a new Treat:</h4>
<hr>
<br>
<br>
@using (Html.BeginForm())
{
  @Html.Label("Name")
  @Html.TextBoxFor(model => model.TreatName, new { @class="form-control"})
<br>
<br> 
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description, new { @class="form-control"})
<br>
<br>  
<br>  
  <input type="submit" value="Add Treat" />
}
<br>
<br>
<br>
<p>@Html.ActionLink("Treats", "Index")</p>
<p>@Html.ActionLink("Flavors", "Index", "Flavors")</p>