@{
  Layout ="_Layout";
}

@using Treats.Models;
@model Treats.Models.Treat

<h4>Treat Details!</h4>
<hr>
<br>
<br>
<h3>Name: @Model.TreatName</h3>
<br>
<h3>Description: @Model.Description</h3>
<br>
<h3>Flavors:</h3>
<br>
@if(@Model.Flavors.Count == 0)
{
  <h3>This treat has no flavors!</h3>
  <br>
  <br>
  @Html.ActionLink("Would you like to add one?", "AddFlavor", new {id = @Model.TreatId })
}
else 
{
  <ul>
  @foreach(TreatFlavor join in Model.Flavors)
  {
    <li>@Html.ActionLink($"{join.Flavor.FlavorName}", "Details", "Flavors", new { id = join.Flavor.FlavorId })</li>
    @if (User.Identity.IsAuthenticated)
    {
    @using (Html.BeginForm("DeleteFlavor", "Treats"))
        {
          @Html.Hidden("joinId", @join.TreatFlavorId)
          <input type="submit" value="Delete"/>
        }
    }
  }
  </ul>
}
<br>
<br>
<br>
@if (User.Identity.IsAuthenticated)
{
<p>@Html.ActionLink("Add another flavor to this treat", "AddFlavor", new {id = @Model.TreatId })</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId})</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId})</p>
}
<br>
<br>
<br>
<p>@Html.ActionLink("View All Treats", "Index")</p>
<p>@Html.ActionLink("View All Flavors", "Index", "Flavors")</p>
