@{
  Layout = "_Layout";
}

@using Treats.Models;
@model Treats.Models.Author;

<h4>Editint flavor: @Html.DisplayFor(model => model.FlavorName)</h4>
<hr/>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorName)
  @Html.TextBoxFor(model => model.FlavorName, new { @class="form-control"})

  @Html.LabelFor(model => model.Description)
  @Html.TextAreaFor(model => model.Description, new { @class="form-control"})
  
  <button type="submit" class="btn btn-default">Save Changes</button>
}